interactions:
- request:
    body: '{"name": "My Field", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/fields
  response:
    body:
      string: '{"data":{"id":"90917","name":"My Field","key":"my_field","type":"text","is_default":false,"used_in_automations":false}}'
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '119'
    status:
      code: 201
      message: Created
version: 1
