interactions:
- request:
    body: '{"name": "Test group"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/groups
  response:
    body:
      string: '{"data":{"id":"75121902033569657","name":"Test group","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2022-12-21
        16:57:08"}}'
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '119'
    status:
      code: 201
      message: Created
version: 1
