interactions:
- request:
    body: '{"events": ["subscriber.created", "subscriber.unsubscribed"], "url": "https://mailerlite.com",
      "name": "My Webhooks"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/webhooks
  response:
    body:
      string: '{"data":{"id":"75140634583762630","name":"My Webhooks","url":"https:\/\/mailerlite.com","events":["subscriber.created","subscriber.unsubscribed"],"enabled":true,"secret":"MRqdHiwAtP","created_at":"2022-12-21
        21:54:53","updated_at":"2022-12-21 21:54:53"}}'
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '119'
    status:
      code: 201
      message: Created
version: 1
